.calculator{
    background-color: gray;
    width: 400px;
    height: 500px;
    margin-left: 470px;
    margin-top: 100px;
}

input{
    width: 350px;
    height: 60px;
    margin-top: 30px;
    margin-left: 15px;
    pointer-events: none;
    font-size: large;
}

.input{
    margin-top: 60px;
    margin-left: 14px;
}



.btn{
    height: 50px;
    width: 90px;
    font-size: x-large;
    background-color: rgb(251, 241, 228);
}

@media (max-width: 767px) {
    .calculator {
        width: 85%;
        height: 450px;
        margin: 0 auto;
        margin-top: 50px;
    }

    input {
        width: 90%;
        margin-left: 15px;
    }

    .input {
        margin-top: 35px;
        margin-left: 20px;
    }
}
@media (max-width: 576px) {
    .calculator {
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }

    input {
        width: 90%;
        margin-left: 12px; 
    }

    .input {
        margin-top: 10px;  
        margin-left: 0; 
    }

    .btn {
        width: 20%;
        margin: 5px;
    }
}
